@import blueprint
@import compass/reset
@import aristo

+blueprint-grid

body
  +regular-aristo-font
  :color #333
 
#header
  :margin-top 40px
  
  h1
    :text-transform uppercase
    :font-size 36px
    :font-weight bold
    :height 36px
    :line-height 36px
    :color #000
  
.section
  :margin-top 20px
  
  h2
    :color #999
    :border-bottom 1px solid #ccc
    :font-size 10px
    :line-height 12px
    :margin-bottom 15px
    :text-transform uppercase
    :letter-spacing 1px
    
  &.text
    .regular
      +regular-aristo-font
    .bold
      +bold-aristo-font
  
#footer
  :border-top 1px solid #ccc
  :text-align right
  :margin-top 20px
  :padding-top 10px
  :margin-bottom 40px
  :font-size 11px
  :color #999
  a
    :color #999


button.aristo_default
  +bold-aristo-font
  -khtml-appearance: none
  -moz-appearance: none
  :padding 0px 13px
  :background none
  :margin 5px
  :-webkit-border-image= image_url("aristo-button-bezel-o.png") "2 2 2 2" "stretch" "stretch"
  :-moz-border-image= image_url("aristo-button-bezel-o.png") "2 2 2 2" "stretch" "stretch"
  :color #4F4F4F
  :-webkit-transition -webkit-box-shadow 0.2s linear
  :text-shadow 0px 1px 1px #fff
  :height 24px
  :line-height 20px